# Two Pointers & Sliding Window Assessment - 20 Problems

Master two pointers: opposite pointers, same direction, sliding window patterns

---

## EASY (TP1-TP5)

<span style="color:green">**TP1: Valid Palindrome**</span>
Check if "A man, a plan, a canal: Panama" is palindrome (two pointers).

**Output:** `True`

In [ ]:
# TP1 Solution

<span style="color:green">**TP2: Remove Duplicates From Sorted Array**</span>
Remove duplicates in-place. [1,1,2,2,3].

**Output:** `[1, 2, 3]` (k=3)

In [ ]:
# TP2 Solution

<span style="color:green">**TP3: Two Sum Sorted**</span>
Find indices of two numbers summing to 9 in [2,7,11,15].

**Output:** `[1, 2]` (1-indexed)

In [ ]:
# TP3 Solution

<span style="color:green">**TP4: Reverse String**</span>
Reverse list in-place. ['h','e','l','l','o'].

**Output:** `['o', 'l', 'l', 'e', 'h']`

In [ ]:
# TP4 Solution

<span style="color:green">**TP5: Container With Most Water**</span>
Max area between two lines. [1,8,6,2,5,4,8,3,7].

**Output:** `49` (width 8, height 8)

In [ ]:
# TP5 Solution

---

## INTERMEDIATE (TP6-TP12)

<span style="color:green">**TP6: 3Sum**</span>
Find unique triplets summing to 0. [-1,0,1,2,-1,-4].

**Output:** `[[-1, -1, 2], [-1, 0, 1]]`

In [ ]:
# TP6 Solution

<span style="color:green">**TP7: Longest Substring Without Repeating**</span>
Find longest in "abcabcbb".

**Output:** `3` ("abc")

In [ ]:
# TP7 Solution

<span style="color:green">**TP8: Sliding Window Maximum**</span>
Max in sliding window. [1,3,-1,-3,5,3,6,7], k=3.

**Output:** `[3,3,5,5,6,7]`

In [ ]:
# TP8 Solution

<span style="color:green">**TP9: Minimum Window Substring**</span>
Min window containing all chars. s="ADOBECODEBANC", t="ABC".

**Output:** `"BANC"`

In [ ]:
# TP9 Solution

<span style="color:green">**TP10: Remove Nth Node From End**</span>
Remove 2nd from end in 1->2->3->4->5.

**Output:** `1->2->3->5`

In [ ]:
# TP10 Solution

<span style="color:green">**TP11: Longest Repeating Character Replacement**</span>
Max repeating with k=1 changes. "ABAB".

**Output:** `4` (change B to A)

In [ ]:
# TP11 Solution

<span style="color:green">**TP12: Subarray Sum Equals K**</span>
Count subarrays with sum=5. [1,2,1,1,1], k=5.

**Output:** `2`

In [ ]:
# TP12 Solution

---

## ADVANCED (TP13-TP17)

<span style="color:green">**TP13: Permutation in String**</span>
Check if s1 is permutation of window in s2. s1="ab", s2="eidbcooo".

**Output:** `True` ("eo" contains no, "ob" contains no, "bo" contains yes at "ab")

In [ ]:
# TP13 Solution

<span style="color:green">**TP14: 4Sum**</span>
Find unique quadruplets summing to target. nums=[1000000000,1000000000,1000000000,1000000000], target=-294967296.

**Output:** `[]` (no valid quadruplets)

In [ ]:
# TP14 Solution

<span style="color:green">**TP15: Trapping Rain Water**</span>
Calculate trapped water. [0,1,0,2,1,0,1,3,2,1,2,1].

**Output:** `6`

In [ ]:
# TP15 Solution

<span style="color:green">**TP16: Fruit Into Baskets**</span>
Max fruits with 2 basket types. [1,2,1].

**Output:** `3`

In [ ]:
# TP16 Solution

<span style="color:green">**TP17: K-diff Pairs**</span>
Find pairs with difference k. [3,1,4,1,5], k=2.

**Output:** `2` ([1,3] and [3,5])

In [ ]:
# TP17 Solution

---

## EXPERT (TP18-TP20)

<span style="color:green">**TP18: Best Time To Buy Sell Stock III**</span>
Max profit with at most 2 transactions. [3,3,5,0,0,3,1,4].

**Output:** `4` (buy at 3, sell at 4)

In [ ]:
# TP18 Solution

<span style="color:green">**TP19: Max Consecutive Ones**</span>
Max consecutive 1s with k flips. [1,1,1,0,0,0,1,1,1,1,0], k=2.

**Output:** `6`

In [ ]:
# TP19 Solution

<span style="color:green">**TP20: Minimum Window Substring with Constraints**</span>
Advanced sliding window with custom constraints.

**Output:** Minimum valid window

In [ ]:
# TP20 Solution

---

## Summary
Two Pointers & Sliding Window mastery: opposite pointers → same direction → advanced patterns