# For Loops Assessment - 20 Problems


---

## EASY (Problems 1-5)

**Q1: Simple Range Loop**
Print numbers from 1 to 5 using a for loop.

In [ ]:
# Q1 Solution

**Q2: Sum Numbers**
Write a for loop to calculate the sum of numbers from 1 to 10.

In [ ]:
# Q2 Solution

**Q3: Iterate Through List**
Given list = [10, 20, 30, 40, 50], print each element.

In [ ]:
# Q3 Solution

**Q4: Count Occurrences**
Given list = [1, 2, 2, 3, 2, 4], count how many times 2 appears using a loop.

In [ ]:
# Q4 Solution

**Q5: Even Numbers**
Print all even numbers from 0 to 20 using a for loop.

In [ ]:
# Q5 Solution


---

## INTERMEDIATE (Problems 6-10)

**Q6: Nested Loop - Multiplication Table**
Create a 3x3 multiplication table using nested for loops.

In [ ]:
# Q6 Solution

**Q7: Break Statement**
Create a loop that prints numbers 1 to 10 but stops when it reaches 7 (use break).

In [ ]:
# Q7 Solution

**Q8: Continue Statement**
Print numbers 1 to 10 but skip odd numbers (use continue).

In [ ]:
# Q8 Solution

**Q9: List Comprehension**
Use a for loop concept to filter even numbers from [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

In [ ]:
# Q9 Solution

**Q10: Accumulator Pattern**
Create a loop that multiplies all numbers in [2, 3, 4, 5] together.

In [ ]:
# Q10 Solution


---

## ADVANCED (Problems 11-15)

**Q11: 2D List Iteration**
Iterate through [[1, 2, 3], [4, 5, 6], [7, 8, 9]] and print each element.

In [ ]:
# Q11 Solution

**Q12: Dictionary Iteration with Loops**
Iterate through {"a": 1, "b": 2, "c": 3} and print key-value pairs.

In [ ]:
# Q12 Solution

**Q13: Enumerate Function**
Use enumerate to print index and value for ["apple", "banana", "cherry"].

In [ ]:
# Q13 Solution

**Q14: Zip Function**
Use zip to pair corresponding elements from [1, 2, 3] and ["a", "b", "c"].

In [ ]:
# Q14 Solution

**Q15: Pattern Generation**
Create a diamond pattern using nested for loops (5 rows).

In [ ]:
# Q15 Solution


---

## EXPERT (Problems 16-20)

**Q16: Bubble Sort**
Implement bubble sort using nested for loops for [64, 34, 25, 12, 22, 11, 90].

In [ ]:
# Q16 Solution

**Q17: Prime Number Finder**
Use nested loops to find all prime numbers between 1 and 50.

In [ ]:
# Q17 Solution

**Q18: Matrix Transpose**
Use nested loops to transpose a 3x3 matrix.

In [ ]:
# Q18 Solution

**Q19: Word Frequency Counter**
Count the frequency of each character in "mississippi" using nested loops.

In [ ]:
# Q19 Solution

**Q20: Pascal's Triangle**
Generate Pascal's triangle for 7 rows using nested for loops.

In [ ]:
# Q20 Solution