# For Loops Assessment - 20 Problems


---

## EASY (Problems 1-5)

**Q1: Simple Range Loop**
Print numbers from 1 to 5 using a for loop.

**Expected Output:**
```
1
2
3
4
5
```

In [ ]:
for i in range(1, 6):
    print(i)

1 1
2 2
3 3
4 4
5 5

**Q2: Sum Numbers**
Write a for loop to calculate the sum of numbers from 1 to 10.

**Expected Output:**
```
55
```

In [72]:
total = 0
for i in range(1, 11):
    total += i
print(total)

55

**Q3: Iterate Through List**
Given list = [10, 20, 30, 40, 50], print each element.

**Expected Output:**
```
10
20
30
40
50
```

In [73]:
array = [10, 20, 30, 40, 50]
for i in array:
    print(i)

10
20
30
40
50

**Q4: Count Occurrences**
Given list = [1, 2, 2, 3, 2, 4], count how many times 2 appears using a loop.

**Expected Output:**
```
3
```

In [ ]:
array = [1, 2, 2, 3, 2, 4]
amount = 0
for i in array:
    if i == 2:
        amount += 1
print(amount)

3

**Q5: Even Numbers**
Print all even numbers from 0 to 20 using a for loop.

**Expected Output:**
```
0
2
4
6
8
10
12
14
16
18
20
```

In [ ]:
# Q5 Solution


---

## INTERMEDIATE (Problems 6-10)

**Q6: Nested Loop - Multiplication Table**
Create a 3x3 multiplication table using nested for loops.

**Expected Output:**
```
1 2 3 
2 4 6 
3 6 9 
```

In [ ]:
# Q6 Solution

**Q7: Break Statement**
Create a loop that prints numbers 1 to 10 but stops when it reaches 7 (use break).

**Expected Output:**
```
1
2
3
4
5
6
```

In [ ]:
# Q7 Solution

**Q8: Continue Statement**
Print numbers 1 to 10 but skip odd numbers (use continue).

**Expected Output:**
```
2
4
6
8
10
```

In [ ]:
# Q8 Solution

**Q9: List Comprehension**
Use a for loop concept to filter even numbers from [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].

**Expected Output:**
```
[2, 4, 6, 8, 10]
```

In [ ]:
# Q9 Solution

**Q10: Accumulator Pattern**
Create a loop that multiplies all numbers in [2, 3, 4, 5] together.

**Expected Output:**
```
120
```

In [ ]:
# Q10 Solution


---

## ADVANCED (Problems 11-15)

**Q11: 2D List Iteration**
Iterate through [[1, 2, 3], [4, 5, 6], [7, 8, 9]] and print each element.

**Expected Output:**
```
1
2
3
4
5
6
7
8
9
```

In [ ]:
# Q11 Solution

**Q12: Dictionary Iteration with Loops**
Iterate through {"a": 1, "b": 2, "c": 3} and print key-value pairs.

**Expected Output:**
```
a: 1
b: 2
c: 3
```

In [ ]:
# Q12 Solution

**Q13: Enumerate Function**
Use enumerate to print index and value for ["apple", "banana", "cherry"].

**Expected Output:**
```
0 apple
1 banana
2 cherry
```

In [ ]:
# Q13 Solution

**Q14: Zip Function**
Use zip to pair corresponding elements from [1, 2, 3] and ["a", "b", "c"].

**Expected Output:**
```
(1, 'a')
(2, 'b')
(3, 'c')
```

In [ ]:
# Q14 Solution

**Q15: Pattern Generation**
Create a diamond pattern using nested for loops (5 rows).

**Expected Output:**
```
    *
   ***
  *****
   ***
    *
```

In [ ]:
# Q15 Solution


---

## EXPERT (Problems 16-20)

**Q16: Bubble Sort**
Implement bubble sort using nested for loops for [64, 34, 25, 12, 22, 11, 90].

**Expected Output:**
```
[11, 12, 22, 25, 34, 64, 90]
```

In [ ]:
# Q16 Solution

**Q17: Prime Number Finder**
Use nested loops to find all prime numbers between 1 and 50.

**Expected Output:**
```
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
```

In [ ]:
# Q17 Solution

**Q18: Matrix Transpose**
Use nested loops to transpose a 3x3 matrix.

**Expected Output:**
```
Original: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]
```

In [ ]:
# Q18 Solution

**Q19: Word Frequency Counter**
Count the frequency of each character in "mississippi" using nested loops.

**Expected Output:**
```
m: 1
i: 4
s: 4
p: 2
```

In [ ]:
# Q19 Solution

**Q20: Pascal's Triangle**
Generate Pascal's triangle for 7 rows using nested for loops.

**Expected Output:**
```
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1
1 6 15 20 15 6 1
```

In [ ]:
# Q20 Solution