# Two Pointers & Sliding Window - 20 Problems

Master two pointers and sliding window techniques

---

## EASY (TP1-TP5)

<span style="color:green">**TP1: Two Sum II - Sorted Array**</span>

Find two numbers that sum to target.

**Input:** `[2, 7, 11, 15], target = 9`

**Expected Output:** `[1, 2]`

<span style="color:green">**TP2: Valid Palindrome**</span>

Check if string is palindrome ignoring spaces.

**Expected Output:** `true`

**Input:** `"A man, a plan, a canal: Panama"`

<span style="color:green">**TP3: Reverse String**</span>

Reverse string in-place.

**Expected Output:** `["o","l","l","e","h"]`

**Input:** `["h","e","l","l","o"]`

<span style="color:green">**TP4: Move Zeroes**</span>

Move all zeros to end.

**Expected Output:** `[1, 3, 12, 0, 0]`

**Input:** `[0, 1, 0, 3, 12]`

<span style="color:green">**TP5: Is Subsequence**</span>

Check if s is subsequence of t.

**Expected Output:** `true`

**Input:** `s = "abc", t = "ahbgdc"`

---

## INTERMEDIATE (TP6-TP12)

<span style="color:green">**TP6: Container With Most Water**</span>

Find two lines with most water.

**Expected Output:** `49`

**Input:** `[1, 8, 6, 2, 5, 4, 8, 3, 7]`

<span style="color:green">**TP7: 3Sum**</span>

Find all triplets that sum to 0.

**Expected Output:** `[[-1, -1, 2], [-1, 0, 1]]`

**Input:** `[-1, 0, 1, 2, -1, -4]`

<span style="color:green">**TP8: Merge Sorted Array**</span>

Merge two sorted arrays.

**Expected Output:** `[1, 2, 2, 3, 5, 6]`

**Input:** `nums1 = [1, 2, 3, 0, 0, 0], m = 3, nums2 = [2, 5, 6], n = 3`

<span style="color:green">**TP9: Max Consecutive Ones**</span>

Find max consecutive ones.

**Expected Output:** `3`

**Input:** `[1, 1, 0, 1, 1, 1]`

<span style="color:green">**TP10: Longest Substring Without Repeating**</span>

Find length of longest substring without repeating.

**Expected Output:** `3`

**Input:** `"abcabcbb"`

<span style="color:green">**TP11: Minimum Window Substring**</span>

Find minimum window substring.

**Expected Output:** `"BANC"`

**Input:** `s = "ADOBECODEBANC", t = "ABC"`

<span style="color:green">**TP12: Remove Duplicates - Sorted Array**</span>

Remove duplicates from sorted array.

**Expected Output:** `2, [1, 2, _]`

**Input:** `[1, 1, 2]`

---

## ADVANCED (TP13-TP17)

<span style="color:green">**TP13: Trapping Rain Water**</span>

Calculate trapped water.

**Expected Output:** `6`

**Input:** `[0, 1, 0, 2, 1, 0, 1, 3, 2, 1, 2, 1]`

<span style="color:green">**TP14: 4Sum**</span>

Find all quadruplets that sum to target.

**Expected Output:** `[[-2, -1, 1, 2], [-2, 0, 0, 2], [-1, 0, 0, 1]]`

**Input:** `[1, 0, -1, 0, -2, 2], target = 0`

<span style="color:green">**TP15: Partition Equal Subset Sum**</span>

Partition array into equal sum subsets.

**Expected Output:** `true`

**Input:** `[1, 5, 11, 5]`

<span style="color:green">**TP16: Find All Duplicates**</span>

Find all duplicates.

**Expected Output:** `[2, 3]`

**Input:** `[4, 3, 2, 7, 8, 2, 3, 1]`

<span style="color:green">**TP17: Permutation in String**</span>

Check if s1 permutation exists in s2.

**Expected Output:** `true`

**Input:** `s1 = "ab", s2 = "eidbaooo"`

---

## EXPERT (TP18-TP20)

<span style="color:green">**TP18: Median of Two Sorted Arrays**</span>

Find median.

**Expected Output:** `2.0`

**Input:** `nums1 = [1, 3], nums2 = [2]`

<span style="color:green">**TP19: Regular Expression Matching**</span>

Match string with pattern.

**Expected Output:** `false`

**Input:** `s = "aa", p = "a"`

<span style="color:green">**TP20: Critical Points in Linked List**</span>

Find critical points in linked list.

**Expected Output:** `[1, 5]`

**Input:** `head = [5, 3, 1, 2, 5, 1, 5]`

---

## Summary

Two pointers and sliding window mastery